.content {
    padding-bottom: 50px;
}

.content-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.content-main {
    flex-grow: 1;
    height: 100%;
}

.content-main__title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 25px;
}

.content-main__list-item--img {
    width: 100%;
    display: flex;
}

.content-main__list-item--img img {
    width: 100%;
    border-radius: 10px;
}

.content-main__list-item--title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    color: rgb(10, 20, 58);
}

.content-main__list-item--price {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    color: rgb(10, 20, 58);
}

.content-main__list-item--description-box {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.content-main__list-item--description {
    font-size: 14px;
    line-height: 16px;
    color: gray;
}